# Ambiente virtual
venv/
.venv/
v1/
.v1/

# output/
results/
dataset/

# Dados grandes
data/

# Modelos salvos
*.pth
*.pt
checkpoints/
data/

# Arquivos Python temporários
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Logs
*.log
logs/

# Jupyter
.ipynb_checkpoints/

# Configs locais
.env